.aboutUsSection {
    position: relative;
    height: 900px;
    width: 100%;
    transform: translate(0px, 115px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.aboutUsSection::before {
    content: "";
    position: absolute;
    /* Importante: Deixamos o fundo um pouco maior para não aparecer borda branca ao mover */
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;

    background-image:
        url("../../assets/imgAboutUs/DR.D_candid_shot 1.png"),
        url("../../assets/imgAboutUs/segunda camada.png"),
        url("../../assets/imgAboutUs/terceriacamada.png");

    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 1;

    /* Animação de posição porra! */
    animation: moveBackground 15s infinite alternate ease-in-out;
}



.aboutUsSection h1 {
    z-index: 2;
}