.amostraDeBebida {
    background-color: #fff;
    background-image: url(../../assets/imgAboutUs/imgFundoBebidas.png);

    /* Faz a imagem cobrir tudo sem distorcer */
    background-size: cover;


    /* A mágica da altura */
    min-height: 100vh;


}