.diferencial {
    height: 700px;
    align-items: baseline;
}

.tituloOqueNosFazDiferentes {
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-top: 1.5rem;
}

.conteudoUnicos {
    display: flex;
    gap: 600px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-left: 13rem;
    padding-top: 1.5rem;

}

.subtituloListaOqueFazUnicosListaItens {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.paragrafoOqueFazUnidos {
    text-align: left;
}