.diferencial {
    height: 700px;
}

.tituloOqueNosFazDiferentes {
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-top: 1.5rem;
}

.conteudoUnicos {
    display: flex;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.subtituloListaOqueFazUnicosListaItens{
    
}