.ourStoryDiv {
    background-color: #000;
    height: 900px;
}

h2 {
    color: orange;
    font-size: 50px;
}

.paragrafoOurStory {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-50px, 150px);
    font-size: 30px;
    line-height: 3rem;
    padding-left: 5rem;
}