.flexBox {
    display: flex;
    padding-bottom: 10rem;
    justify-content: space-between;
    padding: 10rem;
}

.divConteudo {
    background-color: #252525;
    border-radius: 20px;
    width: 400px;
    height: 640px;

}

.tituloDosPerfumesLista {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.img {
    height: 400px;
}

.preco {
    color: orange;
    font-family: 'Montserrat';
    font-size: 30px;
}