.divOfertaEspecial {
    background-color: #000;
    height: 900px;
    color: #fff;
    font-family: 'Montserrat';
}

.tituloSecaoPrincipal {
    transform: translate(-30px, -70px);
    font-size: 40px;
    font-family: 'Montserrat';
    font-style: oblique;
}

.subTituloPromocao {
    padding-left: 100rem;
    font-size: 26px;
    transform: translate(-800px, 10px);
}

.imgPromocaoLoja {
    transform: translate(-675px, -70px);
}

.paragrafoConteudoOferta {
    font-size: 20px;
}