.divOfertaEspecial {
    background-color: #000;
    height: 900px;
    color: #fff;
    font-family: 'Montserrat';
}

.tituloSecaoPrincipal{
    transform: translate(-30px, -70px);
}

.imgPromocaoLoja {
    transform: translate(-675px, -70px);
}

.paragrafoConteudoOferta {
    font-size: 20px;
}