.divOfertaEspecial {

    background-color: #000;
    height: 900px;
    color: #fff;
    font-family: 'Montserrat';
}

.imgPromocaoLoja {
    transform: translate(-675px, 70px);
}

.paragrafoConteudoOferta {
    font-size: 20px;
}