.divOfertaEspecial {
    background-color: #000;
    height: 900px;
    color: #fff;
    font-family: 'Montserrat';
}

.tituloSecaoPrincipal {
    transform: translate(-30px, -70px);
    font-size: 40px;
    font-family: 'Montserrat';
    font-style: oblique;
}

.subTituloPromocao {
    padding-left: 100rem;
    font-size: 26px;
    transform: translate(-800px, 10px);
    font-family: 'Montserrat';
}

.imgPromocaoLoja {
    transform: translate(-675px, -200px);
}

.paragrafoConteudoOferta {
    font-size: 20px;
    padding-left: 15rem;
    transform: translate(-15px, 300px);
        font-family: 'Montserrat';
}

.subTituloSubTitulo {
    color: aqua;
    font-size: 30px;
    transform: translate(-220px, 250px);
    font-family: 'Montserrat';
}

.subTitulodoTitulo {
    transform: translate(-250px, 250px);
    font-size: 50px;
    font-family: 'Montserrat';
}