.mainPerfumeDeOuro {
    background: radial-gradient(circle at 30% 50%, #6b3e1e 0%, #000000 85%);
    height: 1000px;
    padding-left: 5.5rem;
}

.conteudoDivPerfumeDeOuro {
    display: flex;
    padding-left: 3rem;
    justify-content: space-between;
}

.tituloPrincipalSecaoPerfumeDeOuro {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 40px;
    padding-top: 2rem;
}

.tituloPerfumeDeOuro {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat';
    transform: translate(-400px, 300px);
}

.imgPerfumeDeOuro {
    width: 1000px;
}

.paragrafoDeOuro {
    color: #EFA94B;
    font-family: 'Montserrat';
}