.mainPerfumeDeOuro {
    background: radial-gradient(circle at 30% 50%, #6b3e1e 0%, #000000 85%);
    height: 1000px;
}

.conteudoDivPerfumeDeOuro {
    display: flex;
    padding-left: 3rem;
}

.tituloPrincipalSecaoPerfumeDeOuro {
    color: #fff;
    font-family: 'Montserrat';
}

.tituloPerfumeDeOuro {
    color: #fff;
}