.mainPerfumeDeOuro {
    background: radial-gradient(circle at 30% 50%, #6b3e1e 0%, #000000 85%);
    height: 1000px;
    padding-left: 5.5rem;
}

.conteudoDivPerfumeDeOuro {
    display: flex;
    padding-left: 3rem;
    justify-content: space-between;
}

.tituloPrincipalSecaoPerfumeDeOuro {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 40px;
    padding-top: 2rem;
}

.tituloPerfumeDeOuro {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat';
    transform: translate(-400px, 350px);
}

.imgPerfumeDeOuro {
    width: 1000px;
}

.paragrafoDeOuro {
    color: #EFA94B;
    font-family: 'Montserrat';
    transform: translate(-250px, 300px);
    font-size: 50px;
}

.paragrafoDescricao {
    color: #fff;
    font-size: 21px;
    font-family: 'Montserrat';
    transform: translate(-70px, 400px);
}


.btn-know-more {
    background: transparent;
    /* fundo transparente */
    color: #fff;
    /* texto branco */
    border: 2px solid #fff;
    /* borda branca */
    padding: 10px 28px;
    border-radius: 10px;
    /* cantos arredondados */
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* efeito hover */
.btn-know-more:hover {
    background: rgba(255, 255, 255, 0.15);
    /* leve destaque */
    transform: scale(1.05);
}

.movimentacaoButtonSaberMais{
    transform: translate(-500px, 480px);
}