.primeiroParagrafo {
    color: #fff;
    font-family: 'Montserrat';
    text-align: left;
    padding-left: 15rem;
    font-size: 30px;
    line-height: 50px;
}

.subtituloConteudoTexto {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 30px;
    padding-right: 100rem;
}