.conteudoImgPrincipalBlog {
    background-color: #fff;
    height: 1000px;
    background-image: url(../../assets//imgBlog//imgBlog.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}