.primeriPerfumeBlog {
    color: #fff;
    font-family: 'Montserrat';
    background-color: #000;
    height: 1000px;
}

.imgPrimeiraBlog {
    padding-top: 8rem;
    width: 800px;
    padding-right: 100rem;
}

h3 {
    color: #fff;
}

.conteudo {
    transform: translate(000px, -830px);
    color: #fff;
    padding-left: 50rem;
}

.conteudoEssencial {
    text-align: left;
    padding-left: 20rem;
    font-size: 30px;
    line-height: 45px;
}

.segundoSubtitulo {
    transform: translate(-300px, -0);
}