.primeriPerfumeBlog {
    color: #fff;
    font-family: 'Montserrat';
    background-color: #f5f5dc;
    height: 1000px;
}

.imgPrimeiraBlog {
    padding-top: 8rem;
    width: 800px;
    padding-right: 100rem;
}

h3 {
    color: #000;
}

.conteudo {
    transform: translate(000px, -830px);
    color: #000;
    padding-left: 10rem;
}