.primeriPerfumeBlog {
    color: #fff;
    font-family: 'Montserrat';
    background-color: #f5f5dc;
    height: 1000px;
}

.imgPrimeiraBlog {
    padding-top: 8rem;
    width: 800px;
    padding-right: 100rem;
}

.conteudo {
    transform: translateY(-500px );
}