.primeriPerfumeBlog {
    color: #fff;
    font-family: 'Montserrat';
    background-color: #f5f5dc;
    height: 1000px;
}

.imgPrimeiraBlog {
    padding-top: 10rem;
    width: 700px;
    padding-right: 20rem;
}