.section {
    transform: translateY(100px);
    height: 300px;
}

.conteudoInicial {
    padding-left: 20rem;
    gap: 650px;
}

.conteudoInicial,
.tituloPrincipal {
    color: #fff;
    display: flex;
    /* Define a fonte e o peso ultra fino */
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

    /* Opcional: melhora a renderização de fontes finas no Chrome/Safari */
    -webkit-font-smoothing: antialiased;

    /* Opcional: aumenta o espaçamento entre letras para parecer mais luxuoso */
    letter-spacing: 0.5px;
}

.tituloPrincipal {
    font-size: 60px;
    transform: translateY(-100px);
}

.conteudo {
    padding-top: 30rem;
}

.imgConteudoPrincipalHome {
    width: 600px;
}

.paragrafoHomeInicial {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    transform: translateY(-90px);
}

.paragrafoHomeInicial::first-letter {
    font-size: 50px;
}