.mainColecoes {
    background-color: #fff;
    height: 2500px;
}

.mainColecoesPerfumeTitulo {
    color: orange;
    padding-bottom: 3rem;
    font-size: 60px;
    padding-top: 1.5rem;

}

.colecoesPerfumesLista {
    display: flex;
    padding-left: 10em;
    justify-content: space-around;
}

.imgPerfume {
    width: 600px;
    transform: translate(-120px, 10px);
}

.imgPerfume2 {
    width: 1000px;
    transform: translate(-120px, 10px);
}

.nomeSegundoPerfume {
    font-size: 40px;
    transform: translate(-350px, -110px);
    color: #fff;
}

.perfumesSecao2 {
    display: flex;
}

.img3Perfumes {
    width: 700px;
}

.img4Perfumes {
    width: 794px;
}

.img3Perfumes {
    transform: translate(230px, -50px);
    width: 800px;
}

.img4Perfumes {
    transform: translate(530px, -50px);
    width: 890px;
}

.nomePerfume4Lista {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    transform: translate(450px, -180px);
    color: #fff;
}

.perfumesSecao3 {
    display: flex;
}

.img5 {
    width: 500px;
}

.img6 {
    width:681px;
}

.img7{
    width:612px;
}