.mainSecaoPromocao {
    background-color: #000;
    height: 1000px;
}

.imgPromocao {
    width: 2000;
}

.tituloPromocao {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: translate(0px, 50px);
    font-size: 50px;
}