.mainColecoes {
    background-color: #fff;
    height: 1500px;
}

.mainColecoesPerfumeTitulo {
    color: orange;
    padding-bottom: 3rem;
    font-size: 40px;

}

.colecoesPerfumesLista {
    display: flex;
    padding-left: 10em;
    justify-content: space-around;
}

.imgPerfume {
    width: 600px;
    transform: translate(-120px, 10px);
}

.imgPerfume2 {
    width: 1000px;
    transform: translate(-120px, 10px);
}

.nomeSegundoPerfume {
    font-size: 40px;
    transform: translate(-350px, -110px);
    color: #fff;
}