.boasVindasAoSite {
    color: #fff;
    /* Substitua pelo caminho da sua imagem */
    background-image: url('../../assets//imgs//Group\ 4.png');

    /* Centraliza a imagem e evita que ela se repita */
    background-position: center;
    background-repeat: no-repeat;

    /* Faz a imagem cobrir todo o espaço disponível sem distorcer */
    background-size: cover;

    /* Define uma altura mínima para o fundo aparecer (ex: 100% da tela) */
    min-height: 100vh;

    /* Centraliza o conteúdo (o <p>) dentro do main */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teste {
    font-size: 2rem;
    font-weight: bold;
    /* Um leve sombreado ajuda o texto a não sumir na foto */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}