.mainSecaoPromocao {
    background-color: #000;
    height: 1000px;
}

.imgPromocao {
    width: 2000;
}

.tituloPromocao {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-600px, 150px);
    font-size: 50px;

}

.subTituloPromocao {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-720px, 150px);
    font-size: 50px;
}

.paragrafoPerfumeEmPromocao {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-500px, -500px);
    font-size: 30px;
}

.btn-brown {
    background-color: #AB572D;
    color: white;
    padding: 22px 34px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: sans-serif;
}

/* Efeito ao passar o mouse */
.btn-brown:hover {
    background-color: #4E342E;
    /* Um marrom um pouco mais escuro */
}

.movimentacaoBtnComprarPerfumePromocao{
    transform: translate(-800px, -300px);
}