.nossosValores {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.titutloNossoValores {
    padding-top: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 60px;
    padding-left: 40rem;
}

.imgNossosValores {
    width: 900px;
    font-family: 'Montserrat', sans-serif;
}