.Footer {
    background-color: #1D1D1D;
    height: 600px;
}

h4 {
    color: #AB572D;
    font-size: 80px;
    transform: translate(-1000px, 50px);
}

.input-group {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.seInscrever {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-900px, 50px);
    font-size: 30;
}