.Footer {
    background-color: #1D1D1D;
    height: 300px;
}

h4 {
    color: #AB572D;
    font-size: 50px;
    transform: translate(-1000px, 50px);
}

.input-group {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #AB572D;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
    cursor: pointer;
}

.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #AB572D;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.button--submit:hover {
    background-color: #AB573D;
    cursor: pointer;
}

.input:focus,
.input:focus-visible {
    border-color: #3898EC;
    outline: none;
    cur
}