.Footer {
    background-color: #1D1D1D;
    height: 600px;
}

ul li a {
    list-style-type: none;
}

h4 {
    color: #AB572D;
    font-size: 80px;
    transform: translate(-1000px, 50px);
}

.input-group {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.seInscrever {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-900px, 50px);
    font-size: 30;
}

.subTexto {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30;
    transform: translate(-700px, 50px);
}

.todasAsListas {
    display: flex;
    padding-left: 80rem;
    color: #fff;
    font-size: 30px;
    gap: 100px;
    transform: translate(00px, -200px);
    font-family: 'Montserrat', sans-serif;
}