.Footer {
    background-color: #1D1D1D;
    height: 300px;
}

h4 {
    color: #AB572D;
    font-size: 50px;
    transform: translate(-1000px, 50px);
}

.input-group {
    display: flex;
    align-items: center;
    cursor: pointer;
}

