header {
    padding-top: 1.5rem;
}

header ul li a {
    color: red;
    font-size: 20px;
    padding-left: 5rem;
}

.ulHeader {
    display: flex;
    padding-left: 15rem;
    gap: 20px;
}

.ul-lista {
    color: #fff;
    text-decoration: none;
}

.ul-lista:hover {
    text-decoration: underline;
}