header {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    /* Garantia extra para a barra sumir */
    box-sizing: border-box;
    padding-right: 2rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
    background-color: #000;
    ;
}

.ulHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    width: 100%;
    padding: 0;
    padding-right: 36rem;
    gap: 50px;
}

/* O TRUQUE: Esse margin-left joga os textos e ícones pra direita
   sem criar barra, pois ele ocupa o espaço interno vazio */
.ulHeader li:first-of-type {
    margin-left: auto;

}

header ul li a {
    font-size: 25px;
    padding-left: 2rem;
    text-decoration: none;

}

.ul-lista {
    color: #fff;
    text-decoration: none;
}

.ul-lista:hover {
    text-decoration: underline;
}

.ul-lista:active {
    color: red;
}

.imgHeader {
    padding-left: 5rem;
}

.imgListaIcones {
    margin-left: 20px;
    /* Em vez de translate(900px) */
    height: auto;
    padding-right: 10rem;
}