header {
    padding-top: 1.5rem;
}

header ul li a {
    color: red;
    font-size: 20px;
    padding-left: 5rem;
}

.imgHeader {
    transform: translate(-1000px, 20px);
}

.ulHeader {
    display: flex;
    padding-left: 15rem;
    gap: 20px;
    transform: translate(600px, -20px);
}

.ul-lista {
    color: #fff;
    text-decoration: none;
}

.ul-lista:hover {
    text-decoration: underline;
}

.imgListaIcones {
    /* Move -10px no eixo Y (para cima) e 10px no eixo X (para a direita) */
    transform: translate(900px, -50px);
}